/* 
  Update personal web page 2018 cdmx 
*/

/* -----------------------------------------------------
   General formatting
*/



/* ---------------------------------------------------- 
  Top panel begins
*/
div.topPanel {
    background-color: darkslategray;
    color:white;
    font-size: 18px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    float:left;
}
a.topPanel {
    text-decoration: none;   /* Avoids default underline*/
}
a.topPanel:hover {
    color: burlywood;
    text-decoration: underline;
}
/* -----------------------------------------------------
   Top panel ends
*/



/* ---------------------------------------------------
   Left panel begins
*/
div.leftPanel {
    background-color: black;
    height: 100vh;
    float: left;
    width: 20%;
}
div.leftButton {
    background-color: black;
    padding-left:60px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}
div.leftButton:hover {
    background-color: steelblue;
}
a.leftButton {
    text-decoration: none;
}


/* ------------------------------------------------------
   Right panel
*/
div.rightPanel {
    background-color: cornsilk;
    width: 80%;
    float: left;
    height: 100vh;
}
a.rightPanel {
    color: brown;
    text-decoration: none;
}
a.rightPanel:hover {
    text-decoration: underline;
}
img.rightPanel {
    height: 80px;
    width: 100%;
}
div.content {
    padding: 40px;
}